#  base folder
data/
# Java / Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Node / Frontend
node_modules/
dist/
dist-ssr
*.local
.eslintcache

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Environment variables
.env
.env.*.local

# Backend specific
backend/.gradle/
backend/build/
backend/out/
backend/bin

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.next/
frontend/out/

# Logs
*.log
